{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block titulo %}Cadastrar{% endblock %}
{% block subtitulo %}Usuário{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Novo Usuário</h3>
                </div>

                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_row(form.nome) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.senha) }}
                    {{ form_row(form.tipo) }}
                </div>
                <div class="box-footer">
                    {{ form_widget(form.salvar, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}