{% extends 'layout.html.twig' %}

{% block titulo %}Tickets{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div id="tabela-tickets">
                    <table class="data-table table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Título</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th>Prioridade</th>
                                {% endif %}
                                <th>Tipo</th>
                                <th>Status</th>
                                <th>Data/Hora</th>
                                <th>Criador</th>
                                <th>Responsável</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                            <tr>
                                <td>
                                    {% if app.user.podeVer(ticket) %}
                                    <a href="{{ path('visualizar_ticket', {'id': ticket.id}) }}">
                                    {% endif %}
                                        {{ ticket.id }}
                                    {% if app.user.podeVer(ticket) %}
                                    </a>
                                    {% endif %}
                                </td>
                                <td>{{ ticket.titulo }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ ticket.prioridade }}</td>
                                {% endif %}
                                <td>{{ ticket.tipo }}</td>
                                <td>
                                    <span class="label bg-{{ ticket.cor }}">
                                        {{ ticket.status }}
                                    </span>
                                </td>
                                <td>{{ ticket.dataHora|date('d/m/Y H:i') }}</td>
                                <td>{{ ticket.usuarioCriador }}</td>
                                <td>{{ ticket.atendenteResponsavel ?? 'Sem responsável' }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    {% if ticket.aberto %}
                                    <a href="{{ path('gerenciar_ticket', {'id': ticket.id}) }}" class="btn btn-default"
                                      title="Gerenciar Ticket">
                                        <i class="fa fa-cogs"></i>
                                    </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}