<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Sistema de Controle de Tickets</title>

    {% block css %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/admin-lte/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('node_modules/admin-lte/dist/css/skins/skin-black.css') }}">
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css') }}">
    {% endblock %}
</head>
<body class="skin-black sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini">
                    <b>0</b> T
                </span>
                <span class="logo-lg">
                    <b>ZER0</b> Tickets
                </span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('img/usuario.png') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.user.nome }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="{{ asset('img/usuario.png') }}" class="img-circle" alt="User Image">
                                    <p>
                                        {{ app.user.nome }}
                                        <small>{{ app.user.email }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('perfil') }}" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <ul class="sidebar-menu">
                <li class="header">MENU</li>

                <li class="treeview {{ not is_granted('ROLE_ADMIN') ? 'active' : '' }}">
                    <a href="#">
                        <i class="fa fa-ticket"></i>
                        <span>Gerenciar Tickets</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('cadastrar_ticket') }}">
                                <i class="fa fa-plus-circle"></i>
                                <span>Abrir Ticket</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-list"></i>
                                <span>Visualizar Tickets</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('listar_tickets') }}">
                                            <span>Todos os Tickets</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('listar_tickets_abertos') }}">
                                            <span>Tickets Abertos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('listar_tickets_fechados') }}">
                                            <span>Tickets Fechados</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('listar_tickets_atendente') }}">
                                            <span>Sob Minha Responsabilidade</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('meus_tickets') }}">
                                        <span>Tickets abertos por mim</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Gerenciar Usuários</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('cadastrar_usuario') }}">
                                <i class="fa fa-user-plus"></i>
                                <span>Cadastrar Usuário</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('listar_usuarios') }}">
                                <i class="fa fa-list"></i>
                                <span>Visualizar Usuários</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('listar_categorias') }}">
                        <i class="fa fa-list-alt"></i>
                        <span>Gerenciar Categorias</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </aside>

        <section class="content-wrapper">
            <header class="content-header">
                <h1>
                    {% block titulo %}{% endblock %}
                    <small>{% block subtitulo %}{% endblock %}</small>
                </h1>
            </header>

            <article class="content">
                {% if app.request.hasPreviousSession %}
                    {% if app.session.flashBag.peek('danger') %}
                        {% set temErro = true %}
                    {% endif %}

                    {% for tipo, mensagens in app.session.flashBag.all() %}
                        {% for msg in mensagens %}
                        <div class="callout callout-{{ tipo }}">
                            {{ msg }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% block conteudo %}{% endblock %}
            </article>
        </section>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                GPL
            </div>
            <strong>ZER0 Tickets &copy; {{ 'now'|date('Y') }}</strong>
        </footer>
    </div>

    {% block js %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('node_modules/admin-lte/dist/js/app.min.js') }}"></script>
    <script src="{{ asset('node_modules/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('node_modules/admin-lte/plugins/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <script>
        /// Faz com que o menu multinivel funcione
        $('.treeview a[href="#"]').on('click', e => {
            e.preventDefault();
            $(e.currentTarget).parent().toggleClass('active');
        });

        // Adiciona o componente DataTable às tabelas com a classe data-table
        $('.data-table').DataTable({
            "aaSorting": []
        });
    </script>
    {% endblock %}
</body>
</html>