{% extends 'layout.html.twig' %}

{% block titulo %}Categorias{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header">
                    <a href="{{ path('cadastrar_tipo') }}" class="btn btn-primary">Novo Tipo</a>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Responsável</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo in tipos %}
                            <tr>
                                <td>{{ tipo.id }}</td>
                                <td>{{ tipo.nome }}</td>
                                <td>{{ tipo.supervisorResponsavel ?? 'Sem Responsável' }}</td>
                                <td>
                                    <form action="{{ path('remover_categoria') }}" method="post" style="display: inline-block;"
                                          onsubmit="return confirm('Deseja excluir {{ tipo.nome }}?');">
                                        <input type="hidden" name="id" value="{{ tipo.id }}">
                                        <button class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                    <a href="{{ path('editar_tipo', {'id': tipo.id}) }}" class="btn btn-primary"
                                       title="Editar Tipo">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}